[Desktop Entry]
Type=Application
Name=Biying
Exec=biying
Icon=livewallpaper
Comment=Biying Wallpaper for Linux
Categories=Utils
X-AppImage-Version=dc0edf2
